---
layout: default
title: pixelwright
permalink: /index.html
---

<section class="intro-section">
  <img src="/public/img/will.png" alt="Will Wright">
  <div>
  <h1>Hi, I'm Will Wright</h1>
  <h2>Design Engineer & Mentor</h2>
  <p>I help teams build simple, delightful digital products. With 20+ years in UX, prototyping, and product design, I care about making tech feel effortless for real people.</p>
  <p>Currently at <a href="//www.parsleybox.com" target="_blank">Parsley Box</a> and mentoring at <a href="//www.codeyourfuture.co" target="_blank">CodeYourFuture</a>. Based in Edinburgh, dad of two.</p>
  </div>
</section>

<div class="posts archive">
    <!-- WAS: for post in paginator.posts -->
    {% for post in site.posts %}
		{% unless post.categories contains 'projects' %}
            <div class="post">
                <span class="post-date pull-right">{{ post.date | date_to_string }}</span>
                <h3 class="post-title">
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                </h3>
                {% comment %}{{ post.content }}{% endcomment %}
            </div>
            {% comment %} <hr class="medium"> {% endcomment %}
        {% endunless %}
    {% endfor %}
</div>

{% comment %}
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
{% endcomment %}
