<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
    <a class="sidebar-nav-item{% if page.url == site.bloghome %} active{% endif %}" href="{{ site.blogurl }}">Journal</a>
    <a class="sidebar-nav-item{% if page.url == site.projectshome %} active{% endif %}" href="{{ site.projectsurl }}">Journal</a>
    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}
    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
    <a class="sidebar-nav-item" href="http://dl.dropboxusercontent.com/u/253328/WillWright.pdf" target="_blank">Download Resume</a>
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
  </nav>

  <div class="sidebar-item copyright">
    <p>
      <ul class="social-buttons text-center">
        <li><a href="http://twitter.com/intent/follow?screen_name=WilliamWright" target="_blank" class="social-btn"><i class="fa fa-2x fa-twitter-square"></i></a>
        </li>
        <li><a href="http://plus.google.com/+WillWright82?rel=author" target="_blank" class="social-btn"><i class="fa fa-2x fa-google-plus-square"></i></a>
        </li>
        <li><a href="http://uk.linkedin.com/in/wrightwilliam" target="_blank" class="social-btn"><i class="fa fa-2x fa-linkedin-square"></i></a>
        </li>
        <!-- <li><a href="http://williamwright.tumblr.com" target="_blank" class="social-btn"><i class="fa fa-2x fa-tumblr-square"></i></a>
        </li> -->
        <li><a href="http://github.com/willwright82" target="_blank" class="social-btn"><i class="fa fa-2x fa-github-square"></i></a>
        </li>
      </ul>
    </p>
    <p class="text-center">
      &copy; {{ site.time | date: '%Y' }} &mdash; <a href="{{ site.author.twitter }}">{{ site.author.name }}</a><br>
      Hosted on <a href="{{ site.github.repo }}" target="_blank">Github Pages</a>
    </p>
  </div>
</div>
