<!DOCTYPE html>
<html lang="en-us" class="no-js">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <label for="sidebar-checkbox" class="sidebar-toggle"></label>
          <h3 class="masthead-title">
            <a href="/" class="code" title="Home">{{ site.title }}</a>
            <small class="code">{{ site.tagline }}</small>
          </h3>
          <nav class="header-nav">
            <!-- <a class="header-font header-nav-item{% if page.url == site.bloghome %} active{% endif %}" href="{{ site.blogurl }}">Journal</a> -->
            <!-- <a class="header-font header-nav-item{% if page.url == site.projectshome %} active{% endif %}" href="{{ site.projectsurl }}">Case Studies</a> -->
            <a class="header-font header-nav-item{% if page.url == site.home %} active{% endif %}" href="/">Case Studies</a>
            {% assign pages_list = site.pages | sort:"url" %}
            {% for node in pages_list %}
              {% if node.title != null %}
                {% if node.layout == "page" %}
                  <a class="header-font header-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
                {% endif %}
              {% endif %}
            {% endfor %}
            <a class="header-font header-nav-item" href="//uk.linkedin.com/in/wrightwilliam" target="_blank">LinkedIn</a>
            <a class="header-font header-nav-item" href="/willwright.pdf" target="_blank">Resume</a>
          </nav>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>

    </div>


    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TGYP57PBFR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-TGYP57PBFR');
    </script>
  </body>
</html>
